<div class="checkbox {{joinedClassNames}}">
  <label>
    {{md-checkbox-input
        class=radioClass
        id=radioId
        disabled=disabled
        name=name
        required=required
        value=value
        changed="changed"}}

     <span class="checkbox-material"><span class="check"></span></span>
     {{label}}
  </label>
</div>
