<div class="radio {{joinedClassNames}}">
  <label>
  {{radio-button-input
      class=radioClass
      id=radioId
      disabled=disabled
      name=name
      required=required
      groupValue=groupValue
      value=value
      changed="changed"}}
  <span class=circle></span><span class=check></span>
  {{label}}
</label>
</div>
