<div class="togglebutton {{joinedClassNames}}">
  <label>
    {{label}}
    {{md-checkbox-input
        class=radioClass
        id=radioId
        disabled=disabled
        name=name
        required=required
        value=value
        changed="changed"}}
     <span class=toggle></span>
  </label>
</div>
